@inject WebFindJob.Data.ApplicationDbContext _context
@model IEnumerable<WebFindJob.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>Seeker Id</th>
            <th>
               Job Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvFilePath)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td> @Html.DisplayFor(modelItem => item.SeekerId)</td>
          <td>
            @{
                var jobListing = _context.JobListing.FirstOrDefault(j => j.Id == item.JobListingId);
                var jobTitle = jobListing != null ? jobListing.Title : "Unknown";
            }
            @jobTitle
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverLetter)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.CvFilePath))
                {
                    <a asp-action="Download" asp-controller="JobApplications" asp-route-id="@item.Id">@item.CvFilePath</a>
                }
                else
                {
                    <span>No file uploaded</span>
                }
                </td>
            <td>
                    @if (User.IsInRole("Seeker"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>        
            </td>
        </tr>
}
    </tbody>
</table>
